.part-list-container {
  max-width: 700px;
  text-align: center;
  .title {
    font-family: Ubuntu;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(146, 86, 51, 0.877);
    text-transform: capitalize;
  }
  .list-image {
    background-color: rgba(255, 166, 0, 0.4);
    border: 5px solid orange;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px 0;
    padding: 20px;
    .image-wrapper {
      border-radius: 10px;
      box-shadow: 0 0 0 1px rgb(0 0 0 / 15%);
      height: 50px;
      overflow: hidden;
      position: relative;
      width: 50px;
      cursor: pointer;
    }
    .selected {
      background-color: rgba(116, 116, 255, 0.315);
    }
    img {
      height: 60px;
    }
  }
}
