.avatar-wrapper {
  background-color: #fff;
  border: 15px solid #0baf94;
  border-radius: 40px;
  display: inline-block;
  padding: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: calc(50% - 205px);
  .avatar {
    height: 280px;
    position: relative;
    width: 260px;
    img {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 260px;
    }
  }
  .btn-random {
    text-align: center;
    .button {
      background-color: #ca5119;
      border: none;
      border-radius: 15px;
      color: #fff;
      cursor: pointer;
      font-weight: 700;
      margin: 0 10px;
      padding: 10px;
      text-transform: uppercase;
    }
    .button:hover {
        transition-duration: .2s;
    }
  }
}
